
@media(max-width:320px){

}

/* @media(max-width:480px){
    .sobreMi{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

} */

@media(max-width:768px){

}

@media(max-width:1024px){

}

/* @media(max-width:1280px){
    .form-grupo label{
        margin-right: 610px;
    }
} */

/* @media(max-width:1440px){

    .form-grupo label{
        margin-left: 690px;
    }
} */

/* @media(max-width:1920px){
    .form-grupo label{
        margin-left: 930px;
    }
   
} */