@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=IM+Fell+French+Canon:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    
    --bg-color-black:#040303;
    --bg-color-white:#FCFCFC;

    --color-yellow:#fdc800;
    --color-txt-titulo-gris:#343434;
    --color-txt-subtitulo-gris: #7d7d7d;
    --color-form-label:#252525;
    --color-oscuro:#63530e;

    --font-family: "Cactus Classical Serif", serif;
    --font-family-tit: "IM Fell French Canon", serif;
    --font-family-cont: "Roboto", sans-serif;
    --font-weight: 400;
    --font-style: normal;
}


/*====== HEADER ======*/
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.logo{
    padding: 20px 43px;
    text-decoration: none;
    color: #E89317;
    font-family: "IM Fell French Canon", serif;
    font-weight: 400;
    font-style: normal;
}

.menu{
    padding: 20px 26px;
}

.buttonContacto{
    color: #E89317;
    padding: 8px 8px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #EBBC52;
    margin-right: 27px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/*====== HERO ======*/
.foco-contenedor{
    width: 100%;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.foco{
    width: 100%;
    height: 100%;
    background-image: url("../img/verozuliani.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.foco-back{
    display: flex;
    justify-content:flex-start;
    height: 100vh;
    align-items: flex-end;
}

.foco-back::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(4, 3, 3, .8);
    position: absolute;
    top:0;
    left: 0;
}

.foco-front{
    position: absolute;
    top: 0;
    clip-path: circle(14em at center);
}

.foco-circulo{
    position: absolute;
    width: 28em;
    height: 28em;
    border-radius: 50%;
    border: 5px solid #E89317;
}

.hero-contenedor{
    color: #E89317;
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    height: 100vh;
    margin-left: 86px;
    z-index: 2;
}

.hero-contenedor h2{
    font-family: "IM Fell French Canon", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.hero-contenedor h1{
    font-family: "IM Fell French Canon", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 0px;
    margin: 18px 0 10px 0;
}

.hero-contenedor p{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 14px;
}


/*====== SOBRE MI ======*/
.sobreMi{
    /* height: 100vh; */
    background-color: white;
    text-align: center;
}

.sobreMi h1{
    color: #333333;
    padding-top: 60px;
}

.presentacion{
    margin: 31px 65px 42px 52px;
    text-indent: 30px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6e6e6e;
    line-height: 2;
    text-align: center;
}

.sobreMi-contenedor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 86px;
    margin-bottom: 68px;
}

.sobreMi-contenedor h2{
    color: #333333;
    margin: 2px 0 14px 0;
}

.sobreMi-contenedor p{
    width: 142px;
    color: #6e6e6e;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    text-indent: 30px;
}


/*====== EXPERIENCIAS Y HABILIDADES ======*/
.habilidades{
    height: 100vh;
    background-color: var(--bg-color-black);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.habilidades h1{
    color:#cea70a;
    padding-top: 60px;
    text-align: center;
}

.experiencias{
    width: 910px;
    height: 176px;
    color:#cea70a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 27px 82px 80px 47px;
}

.expe-contenedor img{
    padding-left: 80px;
}

.exp{
    display: inline-block;
}

.exp h3{
    font-size: 16px;
}

.exp p{
    text-decoration: underline; 
    text-underline-offset: 5px; 
    line-height: 0px;
}


.skills{
    width: 910px;
    height: 176px;
    margin-left: 40px;
    padding-bottom: 30px;
}

.hab-contenedor{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 82px 0 47px;
} 

.lenguaje{
    padding: 0 82px;
}

.leng{
    display: flex;
    justify-content: space-between;
}

.leng h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 5px;
    margin-left: 10px;
    margin-bottom: 2px;
    color:#cea70a;
}

.leng p{
    color:#cea70a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.progress{  
    width: 204px;
    margin-left: 10px;
    background-color: #515151;
    height: 3px;
    position: relative;
    margin-bottom: 48px;
}

.progress section span{
    background-color:orange;
    width:10px;
    height:10px;
    border-radius:50%;
    position:absolute;
    margin-top:-3px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.html span{
    margin-left:160px;
}

.css span{
    margin-left:135px;
}

.javascript span{
    margin-left:120px;
}

.java span{
    margin-left:180px;
}

.html{
    background-color: orange;
    width: 80%;
    height: 3px;
}

.css{
    background-color: orange;
    width: 70%;
    height: 3px;
}

.javascript{
    background-color: orange;
    width: 60%;
    height: 3px;
}
  
.java{
    background-color: orange;
    width: 90%;
    height: 3px;
}



/*====== PROYECTOS ======*/
.proyectos{
    background-color: var(--bg-color-white);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.proyectos h1{
    color: rgb(48, 48, 48);
    padding-top: 60px;
}

.btn-grupo{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: white;
    color: black;
    border: 1px solid black; 
    padding: 15px 15px;
    text-align: center;
    cursor: pointer;    
    display: flex;
    justify-content: center;
}

.btn-boton1{
    border-radius: 5px 0 0 5px;
}

.btn-boton4{
    border-radius: 0 5px 5px 0;
}

.proyectos-contenedor{
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 44px;
}

.proyectos-contenedor img{
    padding: 0 15px;
}

.buttonProyectos{
    margin: 20px 0 14px 0;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid #797979;
    cursor: pointer;
    
}


/*====== CONTACTO ======*/
.contacto{
    background-color: var(--bg-color-black);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column; 
}

.contacto h1{
    color:#cea70a;
    padding-top: 60px;
}

.contacto p{
    color:#cea70a;
}

.info-contenedor{
    width: 736px;
    height: 390px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center; 
}

.datos{
    display: flex;
    justify-content: center;
    margin-bottom: 52px;
    margin-top: 36px;
}

.datos img{
    margin-bottom: 28px;
    margin-right: 3px;
}

.datos p{
    color:#cea70a;
}

.form-contenedor{
    margin-right: 46px;
    width: 350px;
    height: 390px;
}
  
.form{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
 
.input-nom, .input-email, .input-asunto{
/* .form-grupo input{ */
    width: 100%;
    background: none;
    border: none;
    color:#cea70a;
    outline: 0px;
    padding-top: 35px;
    border-bottom: 2px solid #cea70a;
    /* font-size: 10px; */
    position: relative;
}

.input-msj{
    width: 100%;
    background: none;
    border: none;
    color:#cea70a;
    outline: 0px;
    padding-top: 80px;
    border-bottom: 2px solid #cea70a;
    /* font-size: 10px; */
    position: relative;
}

.form-grupo label{
    position: absolute;
    left: 0px;
    margin-left: 648px;
    margin-top: -20px;
    color: rgb(126, 126, 126);
    pointer-events: none;
    /* font-size: 10px; */
    transition: all 0.2s linear;
}

.form-grupo input:focus ~ label, input:valid ~ label, .form-grupo input:not(:placeholder-shown) ~label{
    transform: translateY(-30px);
    color: #cea70a;
}

.enviar{
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    background-color: #cea70a;
    cursor: pointer;
}


/*====== FOOTER ======*/
.autor{
    background-color: var(--bg-color-black);
    color:#cea70a;
    padding: 5px 0 2px 0;
}

hr{
    border: 1px solid #cea70a;
}

.nom{
    display: flex; 
    justify-content: space-between;
    padding: 0 20px;
}

